<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="cordova-plugin-webpack" version="0.4.7" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Webpack</name>
  <description>Cordova Webpack Plugin</description>
  <author>Kotaro Sugawara</author>
  <keywords>cordova,webpack</keywords>
  <license>Apache 2.0</license>
  <hook src="scripts/webpackCompile.js" type="before_prepare"/>
  <hook src="scripts/webpackServe.js" type="after_prepare"/>
</plugin>